/* 모든 페이지에 공통으로 들어간느 스타일 (header/footer) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
html,body{
    /*브라우저사이즈가 작아졌을때 배경이 안잘리게 하는테그,(가로스크롤이 생성되었을때 배경이 않잘리기위해*/
    color: #3d3d3d;
    line-height: 1.5;
    /*폰트 적용 우선순위
      만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
      apple sd gothic- 아이폰에서 지원하는 폰트*/
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */ 
    word-break: keep-all;/*단어별 줄바꿈*/
}
#wrap{/*id="wrap"*/
    overflow: hidden;
    /*header의 기준점이 되야 헤더가 정확한 위치에 배열이 된다
      윈도우 사이즈가 줄어들었을때 스크린 크기에 따라 헤더가 따라오는게 아니라
      1400이전으로 사이즈가 줄어들면 가로스크롤바가 생기면서 원래 위치인 제일 오른쪽에있는
      컨텐츠가 그자리에 있는다*/
    position: relative;
    min-width: 350px;/*pc에서 부터 최소 넓이를 준다(그래야 320아래로 내려갓을때 가로스크롤이 생긴다)*/       
}
/*컨텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데에 배치*/
.wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /*1400px 이하부터 320px 까지 모든 사이즈 반응형
      1400px 일때에도 좌우에 여백은 유지해야함(1400이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는점)
      부드럽게 여백을 유지하면서 전환해야함
      원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌(모바일에서 처럼 20기본으로 좌우에)
      1400px 컨텐츠 영역인데 왼쪽20 + 오른쪽20 = 1440px이 넓이 
      padding으로 좌우에 여백을 20px씩 줌*/
}

@media screen and (max-width:800px){
    html,body{
        font-size: 15px;
    }
}

@media screen and (max-width:640px){
    /*640px 이하의 디바이스에서만 아래 css가 적용된다*/
    /*pc에서는 1280px 이라는 콘텐츠 고정넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제*/
    html,body{
        /*모바일기기가 전부 달라서 고정된값을 풀어주고 내부요소가 존재하는 만큼*/
        font-size: 13px;
    }
    .wrapper{
        width: auto;
        margin: 0;/*pc에서부터 패딩을 20 을줘서 모바일에서는 안줘도 된다*/
    }
}/*media 종료*/
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position:relative 를 요소는 cnt_wrap를 줘서 항상 부름*/
.cnt_wrap{
    position: relative;
}

.skip_nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000;/*제일높은 그무엇보다 제일많은값을준다*/
    width: 100%;
}
.skip_nav a{
    position: absolute;
    left: 0;
    top: -10000px;/*tap키로 이동할때만 보인다 그냥은 안보인다*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0051A7;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus{
    top: 0;/*tap키로 이동할때만 보인다 그냥은 안보인다*/
}



.header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.header .logo{
    position: absolute;
    left: 50px;
    top: 35px;
    z-index: 103;
}
.header .logo a{
    display: block;
    width: 181px;
    height: 32px;
    background: url(../images/common/logo.svg) no-repeat center center/contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb{
    position: relative;
    z-index: 102;
}
.header .gnb .open{/*모바일에서만 보임*/
    display: none;
}
.header .gnb .close{/*모바일에서만 보임*/
    display: none;
}
.header .gnb ul{
    display: flex;
    justify-content: center;
}
.header .gnb ul li{
    position: relative;
    width: 15%;
    text-align: center;
}
.header .gnb ul li a{
    display: block;
    line-height: 99px;
}
.header .gnb ul li:hover a{
    font-weight: 700;
    color: #0054A5;
}
.header .gnb ul li:hover a span{
    position: relative;
}
.header .gnb ul li:hover a span::after{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background-color: #0054A5;
    content: "";
}
.header .lang{
    position: absolute;
    z-index: 103;
    right: 80px;
    top: 35px;
    font-size: 15px;
}
.header .lang button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: rgba(255,255,255,0.4);
}
.header .lang button span{
    color: rgba(255,255,255,0.8);
}
.header .lang button i{
    color: rgba(255,255,255,0.6);
    font-size: 15px;
}
.header .lang .close{
    display: none;/*클릭될때만 나타남*/
}
.header .lang ul{
    display: none; /*클릭될때만 나타남*/
    position: absolute;
    left: 0;
    top: 30px;
    width: 70px;
    height: 60px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.header .lang ul li:first-child{
    margin: 3px 0 0 0;
}
.header .lang ul li a{
    display: block;
    line-height: 1.7;
}
.header .lang ul li a:hover,.header .lang ul li.active a{
    color: #0051A7;
    font-weight: 700;
}
.header .lang.lang_open ul{
    display: block;
}
.header .lang.lang_open .open{
    display: none;
}
.header .lang.lang_open .close{
    display: flex;
}
@media screen and (max-width: 1440px){
    .header .logo{
        left: 20px;
    }
    .header .lang{
        right: 20px;
    }
}
@media screen and (max-width: 1280px){
    .header .logo a{
        width: 160px;
        height: 30px;
    }
    .header .gnb ul li a{
        font-size: 17px;
    }
    .header .lang button{
        width: 60px;
        height: 25px;
    }
}
@media screen and (max-width: 1000px){
    .header .logo a{
        width: 120px;
        height: 25px;
    }
    .header .gnb ul li a{
        font-size: 15px;
    }
    .header .lang{
        font-size: 13px;
    }
    .header .lang button{
        width: 50px;
        height: 25px;
    }
}
@media screen and (max-width:640px){
    .header{
        height: 60px;
    }
    .header .logo{
        left: 20px;
        top: 23px;
    }
    .header .logo a{
        width: 83px;
        height: 15px;
    }
    .header .gnb .open{/*모바일에서만 보임*/
        display: block;
        position: absolute;
        right: 20px;
        top: 23px;
    }
    .header .gnb .open i{
        font-size: 20px;
        color: rgba(255,255,255,0.8);
    }
    .header .gnb .close{/*모바일에서만 보임*/
        display: none;
    }
    .header .gnb ul{
        display: none;
    }
    .header .lang{
        display: none;
    }
}

.footer{
    position: relative;
    background-color: #222222;
    color: rgba(255,255,255,0.8);
}
.footer .sns{
    position: absolute;
    right: 40px;
    top: 50px;
}
.footer .sns ul li{
    float: left;
}
.footer .sns ul li a{
    display: block;
    width: 40px;
    height: 40px;/*높이를 a한테줘야 잘클릭이 된다*/
    /*img를 a 영역안에 위아래 좌우 가운데 배치하기 위해서*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .sns ul li a img{
    width: 25px;
    height: 25px;
}
.footer .f_logo{
    float: left;
    margin: 60px 80px 0 0;/*로고와 fnav 떨어지는*/
}
.footer .f_logo img{
    width: 130px;
}
.footer .inner{
    float: left;
    margin: 55px 0 0 0;
}
.footer .f_nav li{
    position: relative;
    float: left;
    margin: 0 37px 0 0;
}
.footer .f_nav li::after{
    position: absolute;
    right: -21px;
    top: 8px;
    width: 1px;
    height: 13px;
    background-color: rgba(255,255,255,0.3);
    content: "";
}
.footer .f_nav li:last-child::after{
    display: none;
}
.footer .f_nav li.privacy{
    color: #FFF;
    font-weight: 700;
}
.footer .f_info{
    margin: 40px 0 10px 0;
}
.footer .f_info span{
    display: inline-block;
    margin: 0 36px 0 0;
}
.footer .copyright{
    margin: 20px 0 80px 0;
    color: rgba(255,255,255,0.4);
    font-size: 15px;
}
@media screen and (max-width: 1280px){
    .footer{
        font-size: 17px
    }
    .footer .sns{
        right: 30px;
    }
}
@media screen and (max-width: 1000px){
    .footer{
        font-size: 15px
    }
    .footer .f_nav li{
        margin: 0 25px 0 0;
    }
    .footer .f_nav li::after{
        right: -15px;
        top: 6px;
        height: 11px;
    }
    .footer .f_info span{
        margin: 0 25px 0 0;
    }
    .footer .sns{
        right: 20px;
    }
}
@media screen and (max-width:640px){
    .footer .sns{
        position: relative;
        right: auto;
        top: auto;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .sns ul li a{
        width: 40px;
        height: 40px;
    }
    .footer .sns ul li a img{
        width: 20px;
        height: 20px;
    }
    .footer .f_logo{
        float: none;
        margin: 0 0 30px 0;
    }
    .footer .f_logo img{
        width: 100px;
    }
    .footer .inner{
        float: none;
        margin: 0;
    }
    .footer .f_nav li{
        margin: 0 25px 0 0;
    }
    .footer .f_nav li::after{
        right: -14px;
        top: 5px;
        height: 10px;
    }
    .footer .f_info{
        margin: 20px 0 0 0;
    }
    .footer .f_info span{
        margin: 0 20px 0 0;
    }
    .footer .copyright{
        margin: 15px 0 80px 0;
        font-size: 13px;
    }
}