/* 모든 페이지에 공통으로 들어간느 스타일 (header/footer) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
html,body{
    /*브라우저사이즈가 작아졌을때 배경이 안잘리게 하는테그,(가로스크롤이 생성되었을때 배경이 않잘리기위해*/
    color: #3d3d3d;
    line-height: 1.5;
    /*폰트 적용 우선순위
      만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
      apple sd gothic- 아이폰에서 지원하는 폰트*/
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */ 
    word-break: keep-all;/*단어별 줄바꿈*/
}
#wrap{/*id="wrap"*/
    overflow: hidden;
    /*header의 기준점이 되야 헤더가 정확한 위치에 배열이 된다
      윈도우 사이즈가 줄어들었을때 스크린 크기에 따라 헤더가 따라오는게 아니라
      1400이전으로 사이즈가 줄어들면 가로스크롤바가 생기면서 원래 위치인 제일 오른쪽에있는
      컨텐츠가 그자리에 있는다*/
    position: relative;
    min-width: 350px;/*pc에서 부터 최소 넓이를 준다(그래야 320아래로 내려갓을때 가로스크롤이 생긴다)*/       
}
/*컨텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데에 배치*/
.wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /*1400px 이하부터 320px 까지 모든 사이즈 반응형
      1400px 일때에도 좌우에 여백은 유지해야함(1400이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는점)
      부드럽게 여백을 유지하면서 전환해야함
      원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌(모바일에서 처럼 20기본으로 좌우에)
      1400px 컨텐츠 영역인데 왼쪽20 + 오른쪽20 = 1440px이 넓이 
      padding으로 좌우에 여백을 20px씩 줌*/
}

@media screen and (max-width:1000px){
    html,body{
        font-size: 13px;
    }
}

@media screen and (max-width:640px){
    /*640px 이하의 디바이스에서만 아래 css가 적용된다*/
    /*pc에서는 1280px 이라는 콘텐츠 고정넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제*/
    html,body{
        /*모바일기기가 전부 달라서 고정된값을 풀어주고 내부요소가 존재하는 만큼*/
        font-size: 13px;
    }
    .wrapper{
        width: auto;
        margin: 0;/*pc에서부터 패딩을 20 을줘서 모바일에서는 안줘도 된다*/
    }
}/*media 종료*/
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position:relative 를 요소는 cnt_wrap를 줘서 항상 부름*/
.cnt_wrap{
    position: relative;
}

.skip_nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000;/*제일높은 그무엇보다 제일많은값을준다*/
    width: 100%;
}
.skip_nav a{
    position: absolute;
    left: 0;
    top: -10000px;/*tap키로 이동할때만 보인다 그냥은 안보인다*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0051A7;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus{
    top: 0;/*tap키로 이동할때만 보인다 그냥은 안보인다*/
}

/* 브라우저에서 글자를 드래그 했을때 드래그한 영역의 색과 글자색
   -moz-, -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성*/
::selection{background: #926D49;color: #fff;}
::-moz-selection{background: #926D49;color: #fff;}
::-webkit-selection{background: #926D49;color: #fff;}

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fff;
}
.header .logo{
    float: left;
    margin: 23px 0 0 50px;
}
.header .logo a{
    display: block;
    width: 220px;
    height: 45px;
    background-image: url(../images/common/logo_w.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb{
    float: right;
    margin: 0 20px 0 0;
}
.header .gnb .gnb_open{
    display: none;
}
.header .gnb ul li{
    float: left;
}
.header .gnb ul li a{
    display: block;
    padding: 0 30px;
    font-size: 20px;
    line-height: 100px;/*header의 높이값, 글자를 위아래 가운데에 배치하기 위해*/
}
/*header가 고정일때*/
.header.black{
    border-bottom: 1px solid #ccc;
    color: #1d1d1d;
}
.header.black .logo a{
    background-image: url(../images/common/logo.svg);
}

/*
    어느 부분에서 바뀔지 정하고 가는게 좋음
    1440px - 
    1280/1240/1200px - 
    1024/1000/980px - 
    800px - 
    640/600px - 
*/
@media screen and (max-width:1200px){
    .header .gnb ul li a{
        padding: 0 25px;
        font-size: 17px;
    }
}
@media screen and (max-width:1000px){
    .header .logo{
        margin: 30px 0 0 20px;
    }
    .header .logo a{
        width: 180px;
        height: 35px;
    }
    .header .gnb{
        margin: 0;
    }
    .header .gnb ul li a{
        padding: 0 20px;
    }
}
@media screen and (max-width:800px){/*모바일로 바뀜 - 왜냐면 li들이랑 로고가 부딪힘*/
    .header{
        height: 60px;
    }
    .header .logo{
        margin: 18px 0 0 20px;
    }
    .header .logo a{
        width: 110px;
        height: 22px;
    }
    .header .gnb{
        margin: 0;
    }
    .header .gnb .gnb_open{
        display: block;
        padding: 25px 20px 17px 20px;
    }
    .header .gnb .gnb_open span{
        display: block;
        width: 14px;
        height: 2px;
        margin-bottom: 3px;
        border-radius: 1px;/*높이의절반*/
        background-color: #fff;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb ul{
        display: none;
    }
    .header.black .gnb .gnb_open span{
        background-color: #1d1d1d;
    }
}
@media screen and (max-width:640px){
    .header.fixed{
        border-bottom: 0;
        background-color: rgba(255,255,255,0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .header.fixed .logo a{
        background-image: url(../images/common/logo.svg);
    }
    .header.fixed .gnb .gnb_open span{
        background-color: #3d3d3d;
    }
    
}

.footer{
    color: #666;
}
.footer .f_nav{
    float: right;
    margin: 65px 0 95px 0;
}
.footer .f_nav li a{
    display: block;
    font-size: 30px;
    line-height: 1.67;
    text-align: right;
}
.footer .f_nav li.privacy{
    font-weight: 700;
}
.footer .inner{
    float: left;
    margin: 85px 0 0 0;
}

.footer .f_logo{
    width: 79px;
    height: 83px;
    /*이미지를 잘라서 쓰는방법
        - 위치 left top 을 지정한다(그 위치를 잘라서 써야하기때문에)
        - 사이즈는 가로는 auto 세로는 내가 준 값 height을 같이 준다*/
    background-image: url(../images/common/logo.svg);
    background-repeat: no-repeat;
    background-position: left top; 
    background-size: auto 83px;
}
.footer .copyright{
    margin: 30px 0 0 0;
    color: #ccc;
}
@media screen and (max-width:1000px){
    .footer .f_nav li a{
        font-size: 25px;
    }
    .footer .f_logo{/*사이즈를 줄이려면 비율에 맞게 넓이값을 같이 줘야함*/
        width: 70px;
        height: 70px;
        background-size: auto 70px;
    }
}
@media screen and (max-width:800px){
    .footer .f_nav{
        float: none;
        margin: 30px 0 0 0;
    }
    .footer .f_nav li a{
        font-size: 20px;
        line-height: 2;
    }
    .footer .inner{
        float: none;
        margin: 0;
    }
    .footer .f_logo{
        display: none;
    }
    .footer .copyright{
        margin: 20px 0 40px 0;
        text-align: right;
    }
}