@charset "UTF-8";
/*기본글자색*/
/* 제목에 들어가는 색*/
/*기본회색*/
/*밝은회색*/
/*어두운 배경에 기본 흰글씨*/
/* 어두운 배경에 흰글씨*/
/*
    scss에서 mixin 은 특정스타일의 속성명과 속성값을 모두 선언하는 방식(여러개)
    변수는 특정 속성값 단 한개를 저장하는 방식(변수 1개 = 1개 속성값)
    --> 변수의 값은 어느 속성에 사용하든 상관없음
*/
/* 모든 테그의 스타일 초기화*/
/*브라우저에서 기본으로 제공하는 모든여백을 빼주는 테그*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap");
body, header, footer, div, p, nav, section, h1, h2, h3, h4, h5, h6, button, a, ol, ul, li, address, strong, span, em, i, dl, dt, dd, form, fieldset, legend, input, textarea, select, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*width/height and padding이 결합이 되면 사이즈가 늘어남, 이걸 막는 스타일
    padding을 줘도 width/height 가 유지가됨*/
}

/*a테그에 브라우저가 주는 기본속성 초기화*/
a {
  color: inherit;
  text-decoration: none;
}

/*브라우저에서 기울임을 주는것을 초기화*/
em, address {
  font-style: normal;
}

/*항목앞에 동그라미 삭제*/
ul, ol, li {
  list-style: none;
}

/* form 테그가 문자스타일을 상속받지 않아서 강제로 상속받게 하기 */
form, input, select, textarea, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /*서체를 상속받아야함- button 은 body에서 
    적용한 서체를 상속받지 않음- form 관련테그는 모두다그럼*/
}

fieldset {
  border: 0;
}

legend {
  display: none; /* form 테그의 legend는 타이틀로 숨김처리 */
}

button {
  background-color: transparent; /*뒷배경이 투명하게*/
  /*none 는 background 라고 줘야한다*/
  /* background: none; */
  border: 0;
  cursor: pointer; /*마우스오버시에 손바닥모양으로 바꿔줌*/
}

table caption {
  display: none;
}

/*글자를 두껍게 하는 테그는 모두 일반 두께로 변형*/
h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 400;
}

/* 모든 페이지에 공통으로 들어간느 스타일 (header/footer) */
html, body {
  /*브라우저사이즈가 작아졌을때 배경이 안잘리게 하는테그,(가로스크롤이 생성되었을때 배경이 않잘리기위해*/
  color: #3d3d3d;
  line-height: 1.5;
  /*폰트 적용 우선순위
    만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
    apple sd gothic- 아이폰에서 지원하는 폰트*/
  font-family: "Noto Sans KR", "NanumGothic", "Malgun Gothic", "Apple SD Gothic", "Apple SD Gothic Neo", "Dotum", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.05em; */
  word-break: keep-all; /*단어별 줄바꿈*/
}

#wrap { /*id="wrap"*/
  overflow: hidden;
  /*header의 기준점이 되야 헤더가 정확한 위치에 배열이 된다
    윈도우 사이즈가 줄어들었을때 스크린 크기에 따라 헤더가 따라오는게 아니라
    1400이전으로 사이즈가 줄어들면 가로스크롤바가 생기면서 원래 위치인 제일 오른쪽에있는
    컨텐츠가 그자리에 있는다*/
  position: relative;
  min-width: 350px; /*pc에서 부터 최소 넓이를 준다(그래야 320아래로 내려갓을때 가로스크롤이 생긴다)*/
}

/*컨텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데에 배치*/
.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  /*1400px 이하부터 320px 까지 모든 사이즈 반응형
    1400px 일때에도 좌우에 여백은 유지해야함(1400이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는점)
    부드럽게 여백을 유지하면서 전환해야함
    원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌(모바일에서 처럼 20기본으로 좌우에)
    1400px 컨텐츠 영역인데 왼쪽20 + 오른쪽20 = 1440px이 넓이 
    padding으로 좌우에 여백을 20px씩 줌*/
}

@media screen and (max-width: 1000px) {
  html, body {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  /*640px 이하의 디바이스에서만 아래 css가 적용된다*/
  /*pc에서는 1280px 이라는 콘텐츠 고정넓이가 존재했지만
    모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
    구현방식이 달라서 고정값을 모두 삭제*/
  html, body {
    /*모바일기기가 전부 달라서 고정된값을 풀어주고 내부요소가 존재하는 만큼*/
    font-size: 13px;
  }
  .wrapper {
    width: auto;
    margin: 0; /*pc에서부터 패딩을 20 을줘서 모바일에서는 안줘도 된다*/
  }
} /*media 종료*/
.clearfix::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.clearfix {
  display: block;
}

/* wrapper와 동일한 사이즈를 가진 position:relative 를 요소는 cnt_wrap를 줘서 항상 부름*/
.cnt_wrap {
  position: relative;
}

.skip_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000; /*제일높은 그무엇보다 제일많은값을준다*/
  width: 100%;
}

.skip_nav a {
  position: absolute;
  left: 0;
  top: -10000px; /*tap키로 이동할때만 보인다 그냥은 안보인다*/
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #0051A7;
  color: #fff;
  text-align: center;
}

.skip_nav a:focus {
  top: 0; /*tap키로 이동할때만 보인다 그냥은 안보인다*/
}

/* 브라우저에서 글자를 드래그 했을때 드래그한 영역의 색과 글자색
   -moz-, -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성*/
::-moz-selection {
  background: #6E4029;
  color: #fff;
}
::selection {
  background: #6E4029;
  color: #fff;
}

::-moz-selection {
  background: #6E4029;
  color: #fff;
}

::-webkit-selection {
  background: #6E4029;
  color: #fff;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%; /*영역에 맞게 꽉차게*/
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
.header .logo {
  float: left;
  margin: 28px 0 0 50px;
}
.header .logo svg {
  width: 135px;
}
.header .logo svg text {
  fill: #FFF;
}
.header .gnb {
  float: right;
  margin: 0 27px 0 0;
}
.header .gnb .gnb_open {
  display: none;
}
.header .gnb .gnb_wrap ul li {
  float: left;
}
.header .gnb .gnb_wrap ul li a {
  display: block;
  padding: 0 23px;
  color: #ffffff;
  font-size: 20px;
  line-height: 100px; /*header의 높이만큼 주면 글자가 헤더의 가운데 배치됨*/
}

@media screen and (max-width: 1440px) {
  .header .logo a svg {
    width: 120px;
  }
  .header .gnb .gnb_wrap ul li a {
    font-size: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .header .logo a svg {
    width: 100px;
  }
  .header .gnb .gnb_wrap ul li a {
    padding: 0 15px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    height: 60px;
  }
  .header .logo {
    margin: 10px 0 0 20px;
  }
  .header .logo a svg {
    width: 91px;
  }
  .header .gnb {
    margin: 0;
    /*모바일 메뉴가 열렸을때*/
  }
  .header .gnb .gnb_open {
    display: block;
    position: relative; /*absolute로 span 을 준다음에 모바일 메뉴바를 만드는 기준점*/
    z-index: 2;
    width: 63px;
    height: 60px;
  }
  .header .gnb .gnb_open strong {
    display: none;
  }
  .header .gnb .gnb_open span {
    position: absolute;
    right: 20px;
    /*top값은 다 달라서 따로 클래스 불러서 준다*/
    width: 23px; /*3줄중에서 많이 있는거*/
    height: 2px;
    background-color: #fff; /*back color는 변수명 쓰지않고 바로 값준다*/
    transition: 0.3s;
  }
  .header .gnb .gnb_open span.line1 { /* span.line1 과 동일한값(&를 꼭 붙혀서 써야함 scss 에서)*/
    top: 22px;
  }
  .header .gnb .gnb_open span.line2 {
    top: 29px;
    width: 18px;
  }
  .header .gnb .gnb_open span.line3 {
    top: 36px;
  }
  .header .gnb .gnb_wrap {
    display: block;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    background-color: #fff;
    color: #1d1d1d;
    transition: right 0.5s;
  }
  .header .gnb .gnb_wrap ul {
    margin: 60px 0 0 0;
  }
  .header .gnb .gnb_wrap ul li {
    float: none;
    border-bottom: 1px solid #f4f4f4;
  }
  .header .gnb .gnb_wrap ul li a {
    font-family: "Noto Serif KR", serif;
    padding: 0;
    color: #1d1d1d;
    font-size: 20px;
    line-height: 60px; /*header의 높이만큼 주면 글자가 헤더의 가운데 배치됨*/
    text-align: center;
  }
  .header .gnb .gnb_wrap ul li:first-child {
    border-top: 1px solid #f4f4f4;
  }
  .header .gnb::after {
    /*
        메뉴하단에 검은 배경을 채울때는 position:fixed; 값이 들어가야 전체 꽉차게 들어감

        화면에 꽉차는 배경은
        좌우 위아래 사방을 모두 0을주면
        width와 height를 100% 주는거와 동일

        <div class="gnb">
            <button class="gnb_open"></button>
            <div class="gnb_wrap"></div>
            ::after -- gnb::after
        </div>
        이런구조에서 
        gnb_open과 gnb_wrap, gnb::after 의 보여질 순서를 조정할수 있음
        --> z-index는 이렇게 나란히 들어간 요소들 사이에서 높은숫자가 위로 올라감

        <button class="gnb_open"></button>
        <div class="gnb_wrap">
            ::after -- gnb_wrap::after
        </div>
        이런구조라면 gnb_wrap::after 는 gnb_wrap안에 존재하기 때문에 
        그밖에 잇는 gnb_open,gnb_wrap과의 보여질 순서를 조절 불가능
    */
    display: none;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
  }
  .header .gnb.mobile_open .gnb_open span {
    /*top값은 다 달라서 따로 클래스 불러서 준다*/
    background-color: #3d3d3d; /*back color는 변수명 쓰지않고 바로 값준다*/
  }
  .header .gnb.mobile_open .gnb_open span.line1 { /* span.line1 과 동일한값(&를 꼭 붙혀서 써야함 scss 에서)*/
    top: 30px;
    transform: rotate(33deg);
  }
  .header .gnb.mobile_open .gnb_open span.line2 {
    right: -23px;
  }
  .header .gnb.mobile_open .gnb_open span.line3 {
    top: 30px;
    transform: rotate(-33deg);
  }
  .header .gnb.mobile_open .gnb_wrap {
    right: 0;
  }
  .header .gnb.mobile_open::after {
    display: block;
    opacity: 1;
  }
}
/* header가 고정일때 */
.footer {
  font-family: "Noto Serif KR", serif;
  display: block;
  padding: 70px 0 100px 0;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
}
.footer::after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}
.footer .social {
  float: right;
}
.footer .social ul li {
  float: left;
}
.footer .social ul li a {
  position: relative;
  display: block;
  width: 49px;
  height: 49px;
  font-size: 0;
  line-height: 0;
}
.footer .social ul li a::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /*네모영역안에 가운데주는 값*/
  /*배경이미지가 한개를 보이는 영역을 제한해서 써야하기 때문에 
    before,after에서 표시
    이때 before,after의 사이즈는 내가 사용할 아이콘의 넓이
    - 저장할때 활용된 아이콘의 넓이*/
  width: 40px;
  height: 40px;
  background-image: url(/design1/bntailor/images/common/footer_ico.svg);
  background-repeat: no-repeat;
  content: "";
}
.footer .social ul li.insta a::before {
  background-position: left top;
}
.footer .social ul li.face a::before {
  background-position: left -40px top;
}
.footer .social ul li.naver a::before {
  background-position: left -80px top;
}
.footer .inner {
  float: left;
}
.footer .inner span {
  display: inline-block;
  margin: 0 40px 20px 0;
}
.footer .inner .copyright {
  color: rgba(255, 255, 255, 0.6);
  margin: 50px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 40px 0 65px 0;
  }
  .footer .social {
    display: block;
    float: none;
  }
  .footer .social::after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
  }
  .footer .inner {
    margin: 20px 0 0 0;
  }
  .footer .inner span {
    margin: 0 30px 10px 0;
  }
  .footer .inner .copyright {
    margin: 40px 0 0 0;
  }
}
.header.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
}
.header.fixed .logo svg text {
  fill: #1d1d1d;
}
.header.fixed .gnb .gnb_wrap ul li a {
  color: #1d1d1d;
}
.header.fixed .gnb .gnb_open span {
  background-color: #3d3d3d;
}

/* 서브 공통 레이아웃 */
.sub_visual {
  position: relative;
  height: 640px;
}
.sub_visual .sub_visual_bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 710px; /*clip-path가 정확하지 않아 배경을 별도의 요소에 줌*/
  background-image: url(/design1/bntailor/images/sub/sub_visual1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-clip-path: url(#sub_visual_path);
          clip-path: url(#sub_visual_path);
  /*
      html에서 입력한 svg clipPath 에 지정된 id 값을 연결하면 해당요소의 path값이 적용됨
      배경이 표시될 영역으로 활용됨.
      path로 직접 경로를 사용했는데 안되는 경우, svg path의 크기를 변경해야하는경우 
      이런방식으로 사용
  */
}
.sub_visual.sub_bg1 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual1.png);
}
.sub_visual.sub_bg2 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual2.png);
}
.sub_visual.sub_bg3 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual3.png);
}
.sub_visual.sub_bg4 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual4.png);
}
.sub_visual.sub_bg5 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual5.png);
}
.sub_visual.sub_bg6 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual6.png);
}
.sub_visual.sub_bg7 .sub_visual_bg {
  background-image: url(/design1/bntailor/images/sub/sub_visual7.png);
}
.sub_visual .sub_visual_path {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sub_visual .sub_visual_path svg {
  width: 1px;
  height: 1px;
}
.sub_visual .location {
  display: flex;
  padding: 365px 0 0 0;
  color: rgba(255, 255, 255, 0.8);
}
.sub_visual .location span {
  position: relative;
  margin-right: 20px;
}
.sub_visual .location span::after {
  position: absolute;
  right: -13px;
  top: 11px;
  width: 5px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-clip-path: polygon(22% 0%, 50% 0%, 85% 51.8%, 50.5% 99.5%, 22% 100%, 57.5% 50.3%);
          clip-path: polygon(22% 0%, 50% 0%, 85% 51.8%, 50.5% 99.5%, 22% 100%, 57.5% 50.3%);
  /* 이미지로 하는것이 아니라 svg 를 이용해서 아이콘을 그리는데 ,여러번 반복해서 들어가는경우
  css에서 원하는 도형의 크기와 넓이를 주고, 배경색으로 아이콘의 색상을 주고
  clip-path: 로 path값을 줌
  장점 - css로 여러요소를 선택해서 도형을 그릴수 있다
  단점 - 사이즈를 수정이 불가함(단 % 로 path 그리는것은 가능)
       - 작은것은 적용안됨
       - 브라우저 호환성 떨어짐*/
  content: "";
}
.sub_visual .location span:last-child::after {
  display: none;
}
.sub_visual .tit {
  font-family: "Noto Serif KR", serif;
  color: #ffffff;
  font-size: 70px;
  line-height: 1.2;
}

@media screen and (max-width: 1000px) {
  .sub_visual {
    height: 300px;
  }
  .sub_visual .sub_visual_bg {
    height: 100%; /*clip-path가 정확하지 않아 배경을 별도의 요소에 줌*/
    -webkit-clip-path: none;
            clip-path: none;
    /*
        클립패스 모바일에서는 안함
    */
  }
  .sub_visual .location {
    padding: 180px 0 0 0;
  }
  .sub_visual .location span {
    margin-right: 15px;
  }
  .sub_visual .location span::after {
    right: -9px;
    top: 8px;
    width: 3px;
    height: 5px;
  }
  .sub_visual .tit {
    font-size: 50px;
  }
}
.lnb {
  position: relative;
  height: 100px;
}
.lnb .lnb_fix {
  /*나중에 fixed로 변경될 컨텐츠 - absolute로 코딩한는게좋음*/
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100px;
}
.lnb.fixed .lnb_fix {
  position: fixed;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.6);
}
.lnb .lnb_wrap {
  overflow-x: auto; /* lnb_wrap의 넓이보다 ul의 넓이가 더 길어질때만 스크롤바가 생성*/
  overflow-y: hidden;
  margin: 40px 0 0 0; /*sub_visual과 lnb 사이에 떨어지는 마진값*/
}
.lnb .lnb_wrap ul {
  white-space: nowrap;
  /* 하위 요소들 줄바꿈 금지 - 블럭요소는 안됨, float 들어간 요소도 안됨.
      inline 요소나 inline-block만 적용됨.
      단, inline-block 요소의 사이사이에 space 한칸의 여백이 들어감
      그럼 요소들 사이의 여백을 이를 감안해서 줄이면됨
  */
}
.lnb .lnb_wrap ul li {
  display: inline-block;
}
.lnb .lnb_wrap ul li a {
  display: block;
  padding: 0 22px;
  font-size: 30px;
  color: #999;
}
.lnb .lnb_wrap ul li:first-child a {
  padding-left: 0;
}
.lnb .lnb_wrap ul li.active a {
  position: relative;
  color: #1d1d1d;
  font-weight: 700;
}
.lnb .lnb_wrap ul li.active a::before {
  position: absolute;
  right: 24px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #A39161;
  content: "";
}

@media screen and (max-width: 1200px) {
  .lnb .lnb_wrap ul li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .lnb {
    height: 40px;
  }
  .lnb .lnb_fix {
    height: 40px;
  }
  .lnb.fixed .lnb_fix {
    top: 60px;
  }
  .lnb .lnb_wrap {
    margin: 10px 0 0 0; /*sub_visual과 lnb 사이에 떨어지는 마진값*/
  }
  .lnb .lnb_wrap ul li {
    display: inline-block;
  }
  .lnb .lnb_wrap ul li a {
    padding: 0 15px;
    font-size: 17px;
  }
  .lnb .lnb_wrap ul li.active a::before {
    right: 14px;
    top: 3px;
    width: 3px;
    height: 3px;
  }
}