/* About Us > About Us */

.cnt_about{
    position: relative;
}
/*pic, txt(intro) 둘다 감싸는 영역에 높이값이나 마진값을 줘야 영역을 잡아줘서 그 밑에
    컨텐츠를 밀어낼수 있다*/
.cnt_about .intro_wrap{
    height: 600px;
}
/*wrapper 바깥으로 영역밖으로 이미지가 나가야하는 값
  absolute로 값을 주고 밀어낸다음 높이값을 무조건 줘야한다- 이유: 브라우저 사이즈가 
  늘고줄었을때 고정된 높이값을 가지고 있어야 한없이 늘어나지 않는다
   right 값은 가운데서 부터 얼마나 더 들어오고 나오는지를 계산해서 calc로 주면됨*/
.cnt_about .intro_pic{
    position: absolute;
    top: 0;
    right: calc(50% - 100px);
    width: calc(50% + 100px);
    height: 600px;
}
.cnt_about .intro_pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* txt 자체가 영역을 가지고 있어야해서 마진으로 준다.*/
.cnt_about .intro{
    margin-left: 63%;
    padding: 100px 0 0 0;
}
.cnt_about .intro .intro_tit{
    margin: 0 0 45px 0;
    font-family: 'GyeonggiBatang';
    font-size: 50px;
    font-weight: 700;
}
.cnt_about .intro .intro_txt{
    font-size: 17px;
}
@media screen and (max-width:1200px){
    /*wrapper 바깥으로 영역밖으로 이미지가 나가야하는 값
      absolute로 값을 주고 밀어낸다음 높이값을 무조건 줘야한다- 이유: 브라우저 사이즈가 
      늘고줄었을때 고정된 높이값을 가지고 있어야 한없이 늘어나지 않는다
       right 값은 가운데서 부터 얼마나 더 들어오고 나오는지를 계산해서 calc로 주면됨*/
    .cnt_about .intro_pic{
        right: calc(50% - 65px);
        width: calc(50% + 65px);
    }
    /* txt 자체가 영역을 가지고 있어야해서 마진으로 준다.*/
    .cnt_about .intro{
        margin-left: 60%;
        padding: 120px 0 0 0;
    }
    .cnt_about .intro .intro_tit{
        margin: 0 0 35px 0;
        font-size: 45px;
    }
}
@media screen and (max-width:1000px){
    .cnt_about .intro_wrap{
        height: auto;
    }
    /*wrapper 바깥으로 영역밖으로 이미지가 나가야하는 값
      absolute로 값을 주고 밀어낸다음 높이값을 무조건 줘야한다- 이유: 브라우저 사이즈가 
      늘고줄었을때 고정된 높이값을 가지고 있어야 한없이 늘어나지 않는다
       right 값은 가운데서 부터 얼마나 더 들어오고 나오는지를 계산해서 calc로 주면됨*/
    .cnt_about .intro_pic{
        position: relative;
        top: auto;
        right: auto;
        left: -20px;
        width: calc(100% + 40px);
        height: 400px;
    }
    /* txt 자체가 영역을 가지고 있어야해서 마진으로 준다.*/
    .cnt_about .intro{
        margin-left: 0;
        padding: 30px 0 0 0;
    }
    .cnt_about .intro .intro_tit{
        margin: 0 0 10px 0;
        font-size: 40px;
    }
    .cnt_about .intro .intro_txt{
        font-size: 15px;
    }
}
@media screen and (max-width:640px){

    .cnt_about .intro_pic{
        height: 200px;
    }
    /* txt 자체가 영역을 가지고 있어야해서 마진으로 준다.*/
    .cnt_about .intro .intro_tit{
        font-size: 30px;
    }
}

.cnt_about .slogan{
    margin: 110px 0;
    padding: 100px 0;
    position: relative;
    text-align: center;
}
.cnt_about .slogan::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.cnt_about .slogan::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.cnt_about .slogan strong{
    display: block;
    font-family: 'GyeonggiBatang';
    font-size: 35px;
    font-weight: 700;
}
.cnt_about .slogan .slogan_tit{
    font-family: 'GyeonggiBatang';
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}
.cnt_about .slogan .slogan_tit p .m_yes{
    display: none;
}
.cnt_about .slogan .slogan_txt{
    display: block;
    margin: 50px 0 0 0;
    font-size: 17px;
    text-align: center;
}
.cnt_about .slogan .slogan_txt p{
    display: inline-block;
    width: 780px;
}
@media screen and (max-width:1200px){
    .cnt_about .slogan strong{
        font-size: 30px;
    }
    .cnt_about .slogan .slogan_tit{
        font-size: 60px;
    }
}
@media screen and (max-width:1000px){
    .cnt_about .slogan{
        margin: 90px 0 95px 0;
        padding: 70px 0;
    }
    .cnt_about .slogan strong{
        font-size: 30px;
    }
    .cnt_about .slogan .slogan_tit{
        font-size: 50px;
    }
    .cnt_about .slogan .slogan_tit p .m_yes{
        display: block;
    }
    .cnt_about .slogan .slogan_txt{
        margin: 25px 0 0 0;
        font-size: 15px;
    }
    .cnt_about .slogan .slogan_txt p{
        width: auto;
    }
}
@media screen and (max-width:640px){
    .cnt_about .slogan{
        margin: 45px 0 55px 0;
        padding: 40px 0;
    }
    .cnt_about .slogan strong{
        font-size: 25px;
    }
    .cnt_about .slogan .slogan_tit{
        font-size: 35px;
    }
    .cnt_about .slogan .slogan_txt{
        font-size: 13px;
    }
}

.cnt_about .eco .eco_wrap{
    display: flex;
}
.cnt_about .eco .eco_pic{
    height: 950px;
    border-radius: 50px 0 50px 50px;
    overflow: hidden;
}
.cnt_about .eco .eco_pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cnt_about .eco .eco_inner{
    margin-top: 4%;
    margin-left: 8%;
    width: 37%;
}
.cnt_about .eco .eco_tit{
    margin: 0 0 95px 50px;
    font-family: 'GyeonggiBatang';
    font-size: 50px;
    font-weight: 700;
}
.cnt_about .eco ul li{
    margin: 0 0 100px 0;
}
.cnt_about .eco ul li strong{
    display: block;
    margin: 0 0 10px 0;
    font-family: 'GyeonggiBatang';
    font-size: 25px;
    font-weight: 700;
}
.cnt_about .eco ul li span{
    display: block;
}
@media screen and (max-width:1440px){
    .cnt_about .eco .eco_inner{
        margin-left: 6%;
    }
    .cnt_about .eco .eco_tit{
        margin: 0 0 95px 0;
    }
}
@media screen and (max-width:1200px){
    .cnt_about .eco .eco_inner{
        margin-left: 4%;
        margin-top: 6%;
        width: 40%;
    }
    .cnt_about .eco .eco_tit{
        margin: 0 0 70px 0;
        font-size: 40px;
    }
    .cnt_about .eco ul li{
        margin: 0 0 75px 0;
    }
}
@media screen and (max-width:1000px){
    .cnt_about .eco .eco_wrap{
        flex-direction: column;
    }
    .cnt_about .eco .eco_pic{
        border-radius: 20px 0 20px 20px;
        height: 365px;
    }
    .cnt_about .eco .eco_inner{
        margin-top: 35px;
        margin-left: 0;
        width: auto;
    }
    .cnt_about .eco .eco_tit{
        margin: 0 0 20px 0;
        font-size: 45px;
    }
    .cnt_about .eco ul li{
        margin: 0 0 45px 0;
    }
    .cnt_about .eco ul li:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width:640px){
    .cnt_about .eco .eco_pic{
        border-radius: 15px 0 15px 15px;
        height: 300px;
    }
    .cnt_about .eco .eco_inner{
        margin-top: 20px;
    }
    .cnt_about .eco .eco_tit{
        font-size: 35px;
    }
    .cnt_about .eco ul li strong{
        font-size: 20px;
    }
}

/* Spa > Ocean Spa */

.cnt_spa{
    margin: 0 0 200px 0;
}
.cnt_spa .spa_tit{
    font-family: 'GyeonggiBatang';
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: right;
}
.cnt_spa .spa_tit .m_yes{
    display: none;
}
.cnt_spa .spa_pic{
    margin: 30px 0 45px 0;
    height: 550px;
}
.cnt_spa .spa_pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cnt_spa .txt_wrap .colgroup1{
    position: relative;
    float: left;
    width: 42%;
}
.cnt_spa .txt_wrap .colgroup1::after{
    position: absolute;
    right: -19%;
    top: 0;
    width: 1px;
    height: 210px;
    background-color: #ccc;
    content: "";
}
.cnt_spa .txt_wrap .colgroup2{
    float: right;
    width: 42%;
}
.cnt_spa .txt_wrap p{
    text-align: justify;
    word-break: normal;
}
.cnt_spa .txt_wrap .spa_sub{
    margin: 0 0 10px 0;
    font-family: 'GyeonggiBatang';
    font-size: 30px;
}
.cnt_spa .txt_wrap .txt{
    font-size: 17px;
}
@media screen and (max-width:1200px){
    .cnt_spa .spa_tit{
        font-size: 35px;
    }
    .cnt_spa .spa_pic{
        margin: 20px 0 35px 0;
    }
    .cnt_spa .txt_wrap .spa_sub{
        font-size: 25px;
    }
}
@media screen and (max-width:1000px){
    .cnt_spa{
        margin: 0 0 95px 0;
    }
    .cnt_spa .spa_tit{
        font-size: 30px;
    }
    .cnt_spa .spa_pic{
        margin: 20px 0 20px 0;
        height: 310px;
    }
    .cnt_spa .txt_wrap .colgroup1{
        float: none;
        width: auto;
        margin: 0 0 50px 0;
    }
    .cnt_spa .txt_wrap .colgroup1::after{
        right: auto;
        top: auto;
        bottom: -29px;
        width: 100%;
        height: 1px;
    }
    .cnt_spa .txt_wrap .colgroup2{
        float: none;
        width: auto;
    }
    .cnt_spa .txt_wrap p{
        text-align: left;
        word-break: keep-all;
    }
    .cnt_spa .txt_wrap .spa_sub{
        margin: 0 0 5px 0;
    }
    .cnt_spa .txt_wrap .txt{
        font-size: 15px;
    }
}
@media screen and (max-width:640px){
    .cnt_spa .spa_tit{
        font-size: 25px;
    }
    .cnt_spa .spa_tit .m_yes{
        display: block;
    }
    .cnt_spa .spa_pic{
        height: 230px;
    }
    .cnt_spa .txt_wrap .colgroup1{
        margin: 0 0 30px 0;
    }
    .cnt_spa .txt_wrap .colgroup1::after{
        bottom: -16px;
    }
    .cnt_spa .txt_wrap .spa_sub{
        font-size: 20px;
    }
    .cnt_spa .txt_wrap .txt{
        font-size: 13px;
    }
}

.cnt_spa .info{
    position: relative;
    margin: 140px 0 130px 0;
    padding: 65px 0 85px 0;
}
.cnt_spa .info::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.cnt_spa .info::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.cnt_spa .info .info_tit{
    display: block;
    text-align: center;
}
.cnt_spa .info .info_tit p{
    display: inline-block;
    font-size: 30px;
}
.cnt_spa .info ul{
    padding: 4% 4% 0 14%;
}
.cnt_spa .info ul li{
    float: left;
    width: 19%;
    margin: 0 6% 0 0;
}
.cnt_spa .info ul li:last-child{
    margin-right: 0;
}
.cnt_spa .info ul li strong{
    display: block;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 700;
}
.cnt_spa .info ul li span{
    display: block;
    margin: 0 0 20px 0;
}
@media screen and (max-width:1200px){
    .cnt_spa .info{
        margin: 120px 0 100px 0;
    }
    .cnt_spa .info ul{
        padding: 4% 4% 0 16%;
    }
    .cnt_spa .info ul li strong{
        font-size: 17px;
    }
    .cnt_spa .info ul li{
        margin: 0 5% 0 0;
    }
}
@media screen and (max-width:1000px){
    .cnt_spa .info{
        margin: 65px 0 70px 0;
        padding: 40px 0 60px 0;
    }
    .cnt_spa .info ul{
        padding: 4% 0 0 8%;
    }
    .cnt_spa .info ul li{
        width: 21%;
        margin: 0 5% 0 0;
    }
    .cnt_spa .info ul li strong{
        margin: 0 0 10px 0;
    }
    .cnt_spa .info ul li span{
        margin: 0 0 10px 0;
    }
}
@media screen and (max-width:640px){
    .cnt_spa .info{
        margin: 40px 0 40px 0;
        padding: 25px 0 30px 0;
    }
    .cnt_spa .info .info_tit p{
        font-size: 25px;
    }
    .cnt_spa .info ul{
        padding: 6% 0 0 0;
    }
    .cnt_spa .info ul li{
        float: none;
        width: auto;
        margin: 0 0 20px 0;
    }
    .cnt_spa .info ul li strong{
        font-size: 15px;
    }
}

.cnt_spa .other .other_tit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0 0 60px 0;
    font-family: 'GyeonggiBatang';
}
.cnt_spa .other .other_tit strong{
    display: block;
    font-size: 50px;
    font-weight: 700;
}
.cnt_spa .other .other_tit p{
    margin: 0 0 0 20px;
    font-size: 25px;
    font-weight: 700;
}
.cnt_spa .other ul li{
    float: left;
    width: 31%;
    margin: 0 3% 0 0;
}
.cnt_spa .other ul li:last-child{
    margin-right: 0;
}
.cnt_spa .other ul li a{
    display: block;
}
.cnt_spa .other ul li a .other_pic{
    border-radius: 20px 0 20px 20px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.cnt_spa .other ul li a .other_pic img{
    width: 100%;
    transition: 0.5s;
}
.cnt_spa .other ul li a:hover .other_pic img{
    transform: scale3d(1.2,1.2,1);
}
.cnt_spa .other ul li a .other_txt{
    margin: 20px 0 0 0;
}
.cnt_spa .other ul li a .other_txt strong{
    display: block;
    margin: 0 0 8px 0;
    font-family: 'GyeonggiBatang';
    font-size: 30px;
}
@media screen and (max-width:1200px){
    .cnt_spa .other .other_tit{
        margin: 0 0 40px 0;
    }
    .cnt_spa .other .other_tit strong{
        font-size: 45px;
    }
    .cnt_spa .other .other_tit p{
        font-size: 22px;
    }
    .cnt_spa .other ul li a .other_pic{
        border-radius: 15px 0 15px 15px;
    }
    .cnt_spa .other ul li a .other_txt{
        margin: 10px 0 0 0;
    }
    .cnt_spa .other ul li a .other_txt strong{
        margin: 0;
        font-size: 25px;
    }
}
@media screen and (max-width:1000px){
    .cnt_spa .other .other_tit strong{
        font-size: 40px;
    }
    .cnt_spa .other .other_tit p{
        font-size: 20px;
    }
    .cnt_spa .other ul li a .other_pic{
        border-radius: 10px 0 10px 10px;
    }
}
@media screen and (max-width:800px){
    .cnt_spa .other .other_tit{
        margin: 0 0 30px 0;
    }
    .cnt_spa .other .other_tit strong{
        font-size: 45px;
    }
    .cnt_spa .other .other_tit p{
        font-size: 22px;
    }
    .cnt_spa .other ul li{
        float: none;
        width: auto;
        margin: 0 0 15px 0;
    }
    .cnt_spa .other ul li:last-child{
        margin-bottom: 0;
    }
    .cnt_spa .other ul li a .other_pic{
        border-radius: 15px 0 15px 15px;
        height: 300px;
    }
    .cnt_spa .other ul li a .other_pic img{
        width: 100%;
    }
    .cnt_spa .other ul li a .other_txt{
        margin: 15px 0 0 0;
    }
}
@media screen and (max-width:640px){
    .cnt_spa .other .other_tit{
        margin: 0 0 25px 0;
    }
    .cnt_spa .other .other_tit strong{
        font-size: 30px;
    }
    .cnt_spa .other .other_tit p{
        margin: 0 0 0 10px;
        font-size: 20px;
    }
    .cnt_spa .other ul li{
        margin: 0 0 20px 0;
    }
    .cnt_spa .other ul li a .other_pic{
        border-radius: 10px 0 10px 10px;
        height: 200px;
    }
    .cnt_spa .other ul li a .other_txt{
        margin: 5px 0 0 0;
    }
    .cnt_spa .other ul li a .other_txt strong{
        margin: 0 0 3px 0;
        font-size: 20px;
    }
}